.list {
    display: flex;
    align-items: center;
    gap: 2px;
    list-style: none;
    
    margin: 0;
}

@media (min-width: 375px) {
    .list {
        gap: 4px;
    }
}

@media (min-width: 768px) {
    .list {
        gap: 8px;
    }
}

.iconActive {
    opacity: 1;
}

.iconDisabled {
    opacity: 0.2;
}

.prevIconClass,
.nextIconClass {
    stroke: var(--light-white, #f8f9fa);
    color: var(--light-white, #f8f9fa);

}

.prevIconClass:disabled,
.nextIconClass:disabled {
    stroke: var(--grey-20, rgba(255, 255, 255, 0.2));
    color: var(--grey-20, rgba(255, 255, 255, 0.2));
}