.container {
    width: 100%;
    margin: 0 auto;
    max-width: 345px;
    padding-left: 14px;
    padding-right: 14px;
}

@media (min-width: 500px) {
    .container {
        max-width: 500px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width: 1000px) {
    .container {
        max-width: 1440px;
        padding-left: 64px;
        padding-right: 64px;
    }
}

@media (min-width: 1024px) {
    .main {
        display: flex;
        gap: 16px;
    }
}