.wrapper {
    max-width: 197px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
    .wrapper {
        max-width: 274px;
    }
}

@media (min-width: 1024px) {
    .wrapper {
        max-width: 274px;
    }
}

.circle {
    width: 100px;
    height: 100px;
    background: var(--dark-grey, #2b2f3a);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 10px;
}

@media (min-width: 768px) {
    .circle {
        width: 130px;
        height: 130px;
        margin-bottom: 20px;
    }
}

.emoji {
    font-size: 50px;
    line-height: 1;
    letter-spacing: -1px;
}

@media (min-width: 768px) {
    .emoji {
        font-size: 70px;
        letter-spacing: -1.4px;
    }
}

.text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.28px;
    text-align: center;
}

.muted {
    color: var(--grey, #9aa0a6);
}