.form {
    margin-bottom: 40px;
    flex: 1 1 auto;
}

@media (min-width: 768px) {
    .form {
        margin-bottom: 0;
    }
}

@media (min-width: 1024px) {
    .form {
        flex: none;
        width: 313px;
    }
}

.helper {
    margin-bottom: 8px;
    margin-left: 14px;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: -0.2px;
}

@media (min-width: 768px) {
    .helper {
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.28px;
    }
}

.pageInput {
    padding-left: 99px;
    padding-right: 14px;
}

@media (min-width: 768px) {
    .pageInput {
        padding-left: 111px;
    }
}

.pageWrapper {
    margin-bottom: 20px;
}

.submitBtn {
    height: 38px;
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 768px) {
    .submitBtn {
        height: 42px;
        padding-left: 28px;
        padding-right: 28px;
        font-size: 16px;
        line-height: 1.13;
        letter-spacing: 0.32px;
    }
}