

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

@media (min-width: 768px) {
    .wrapper {
        width: 305px;
    }
}

@media (min-width: 1024px) {
    .wrapper {
        height: 651px;
        min-height: 651px;
        justify-content: flex-start;
    }
}

.title {
    font-size: 18px;
    line-height: 1;
    /* leading-none */
    letter-spacing: -0.36px;
    font-family: var(--font-gilroy-bold, inherit);
    font-weight: 700;
    margin-bottom: 14px;
}

@media (min-width: 768px) {
    .title {
        font-size: 20px;
        letter-spacing: -0.4px;
    }
}

.desc {
    color: var(--grey, #9aa0a6);
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.28px;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .desc {
        margin-bottom: 50px;
    }
}

.circle {
    width: 80px;
    height: 80px;
    background: var(--dark-grey, #2b2f3a);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .circle {
        width: 100px;
        height: 100px;
    }
}

.emoji {
    font-size: 32px;
    line-height: 1;
    /* leading-none */
    letter-spacing: -0.64px;
}

@media (min-width: 768px) {
    .emoji {
        font-size: 50px;
        letter-spacing: -1px;
    }
}