.list {
    display: flex;
    flex-wrap: wrap;
    gap: 21px;
}

@media (min-width: 640px) {
    .list {
        justify-content: center;
    }
}

@media (min-width: 768px) {
    .list {
        column-gap: 25px;
        row-gap: 27px;
    }
}

@media (min-width: 1024px) {
    .list {
        column-gap: 20px;
    }
}