.dashboard {
    padding: 20px;
    border-radius: 15px;
    background: var(--light-dark, #1F1F1F);
    margin-bottom: 10px;
    height: 528px;
    min-height: 528px;
    width: 335px;
    max-width: 335px;
}

@media (max-width: 375px) {
    .dashboard {
        width: 320px;
        max-width: 320px;
        padding: 12px;
    }
}

@media (min-width: 768px) {
    .dashboard {
        margin-bottom: 16px;
        padding: 20px;
        height: 336px;
        min-height: 336px;
        width: auto;
        max-width: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 16px;
        align-items: flex-start;
    }
}

@media (min-width: 1024px) {
    .dashboard {
        margin-bottom: 0;
        padding-top: 40px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        flex-direction: column;
        gap: 20px;
        height: 686px;
        min-height: 651px;
        display: flex;
        justify-content: space-between;
        width: auto;
        max-width: none;
    }
}